<aside id="sidebar">
  <p class="{% if page.title == "index" %}current{% endif %}">
    <a href="{{ site.url }}/index.html" class="button">Home</a>
  </p>
  <p class="{% if page.title == "function" %}current{% endif %}">
    <a href="{{ site.url }}/docs/function.html" class="button">Taxonomy and Function</a>
  </p>
  <p class="{% if page.title == "database" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/database.html" class="button">Database Resources</a>
  </p>
  <p class="{% if page.title == "protocols" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/protocols.html" class="button">Protocols</a>
  </p>
  <p class="{% if page.title == "as_ext" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/as_ext.html" class="button"> -- DNA extraction</a>
  </p>
  <p class="{% if page.title == "primers" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/primers.html" class="button"> -- Primers and barcodes</a>
  </p>
  <p class="{% if page.title == "v13_103" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/v13_103.html" class="button"> -- V1-3 16S amplicons</a>
  </p>
  <p class="{% if page.title == "miseq_103" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/miseq_103.html" class="button"> -- 2x301bp MiSeq</a>
  </p>
  <p class="{% if page.title == "analysis" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/analysis.html" class="button"> -- Data analysis</a>
  </p>
  <p class="{% if page.title == "presentations" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/presentations.html" class="button"> Presentations</a>
  </p>
  <p class="{% if page.title == "about" %}current{% endif %}"> 
    <a href="{{ site.url }}/docs/about.html" class="button">About</a>
  </p>
  <a id="aau_banner" href="http://www.cmc.aau.dk/"></a>   
</aside>

